.jumbotron h1 {
  text-align: center;
  font-size: 6em;
  font-family: 'Niconne';
}

.words {
  text-align: center;
  float: none;
  margin: 0 auto;
}

.word:hover {
  transform: scale(1.1);
  margin: 10px;
}

.add-word {
  float: none;
  margin: auto;
  text-align: center;
}

.add-word button {
  margin-top: 20px;
}

.term {
  background-color: #eee;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 15px;
  margin: 10px;
}
.term p {
  margin: 10px;
}
